[submodule "HEAL-data-mapping"]
	path = HEAL-data-mapping
	url = https://github.com/RENCI/HEAL-data-mapping
[submodule "map-pipeline-schema"]
	path = map-pipeline-schema
	url = https://github.com/RENCI/map-pipeline-schema
[submodule "map-pipeline"]
	path = map-pipeline
	url = https://github.com/RENCI/map-pipeline
